<div class="container-fluid-custom container-fluid py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="diplay-2 fw-bold mb-4 position-relative home-title">
                    Write your thoughts down as they come to you.
                </h1>
                <p class="fs-4 mb-4">
                    note is simple to use free and safe note taking app made with<br> Node JS,EJS,EXPRESS & MongoBD
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">try Notes,it's Free!!</a>
            </div>
        </div>
    </main>
</div>